#arrow,.fa-angle-down{
    width:30px;
    height:30px
}
@font-face{
    font-family:myFont;
    src:url(./Gabriola.ttf)
}
html{
    height:100%
}
body{
    font-family:myFont;
    text-align:center
}
.main{
    margin-right:0;
    margin-left:0
}
#arrow{
    text-decoration:none
}
.fa-angle-down{
    opacity:.7;
    position:absolute;
    bottom:13px;
    color:#01afab;
    left:48%;
    animation:bounce 5s infinite ease-out
}
#lineDrawing{
    width:100%;
    height:100%;
    padding-bottom:5%
}
.viewing-page-1 .Animate-Drawhead{
    fill-opacity:0;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -o-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-name:DrawLine,FadeStroke,FillIn;
    -moz-animation-name:DrawLine,FadeStroke,FillIn;
    -o-animation-name:DrawLine,FadeStroke,FillIn;
    -ms-animation-name:DrawLine,FadeStroke,FillIn;
    animation-name:DrawLine,FadeStroke,FillIn
}
.viewing-page-1 .Animate-Drawd{
    fill-opacity:0;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -o-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-timing-function:ease-out;
    -o-transition-timing-function:ease-out;
    -ms-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
    -webkit-animation-name:DrawLine,FadeStroke,FillIn,New;
    -moz-animation-name:DrawLine,FadeStroke,FillIn,New;
    -o-animation-name:DrawLine,FadeStroke,FillIn,New;
    -ms-animation-name:DrawLine,FadeStroke,FillIn,New;
    animation-name:DrawLine,FadeStroke,FillIn,New
}
.viewing-page-1 #animulogo{
    -webkit-animation-duration:1.3s;
    -moz-animation-duration:1.3s;
    -o-animation-duration:1.3s;
    -ms-animation-duration:1.3s;
    animation-duration:1.3s;
    stroke-dashArray:300;
    stroke-dashoffset:300
}
.viewing-page-1 #animflag{
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    -ms-animation-delay:1s;
    animation-delay:1s;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
    stroke-dashArray:3000;
    stroke-dashoffset:3000
}
.viewing-page-1 #animtitle,.viewing-page-1 #animwords{
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    -ms-animation-duration:.5s;
    stroke-dashArray:300;
    stroke-dashoffset:300
}
.viewing-page-1 #animtitle{
    -webkit-animation-delay:2s;
    -moz-animation-delay:2s;
    -o-animation-delay:2s;
    -ms-animation-delay:2s;
    animation-delay:2s;
    animation-duration:.5s
}
.viewing-page-1 #animwords{
    -webkit-animation-delay:2.5s;
    -moz-animation-delay:2.5s;
    -o-animation-delay:2.5s;
    -ms-animation-delay:2.5s;
    animation-delay:2.5s;
    animation-duration:.5s
}
.viewing-page-1 #animdoodles{
    -webkit-animation-delay:3s;
    -moz-animation-delay:3s;
    -o-animation-delay:3s;
    -ms-animation-delay:3s;
    animation-delay:3s;
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    -ms-animation-duration:.5s;
    animation-duration:.5s;
    stroke-dashArray:1500;
    stroke-dashoffset:1500;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}
@keyframes New{
    0%{
        transform:scale(1.2,1.2)
    }
    50%{
        transform:scale(1.15,1.15)
    }
    100%{
        transform:scale(1,1)
    }
}
@-moz-keyframes New{
    0%{
        transform:scale(1.2,1.2)
    }
    50%{
        transform:scale(1.15,1.15)
    }
    100%{
        transform:scale(1,1)
    }
}
@-o-keyframes New{
    0%{
        transform:scale(1.2,1.2)
    }
    50%{
        transform:scale(1.15,1.15)
    }
    100%{
        transform:scale(1,1)
    }
}
@-ms-keyframes New{
    0%{
        transform:scale(1.2,1.2)
    }
    50%{
        transform:scale(1.15,1.15)
    }
    100%{
        transform:scale(1,1)
    }
}
@-webkit-keyframes New{
    0%{
        transform:scale(1.2,1.2)
    }
    50%{
        transform:scale(1.15,1.15)
    }
    100%{
        transform:scale(1,1)
    }
}
.viewing-page-2 #sayimage{
    -webkit-animation:zoomIn 1s;
    -moz-animation:zoomIn 1s;
    -o-animation:zoomIn 1s;
    -ms-animation:zoomIn 1s;
    animation:zoomIn 1s
}
.viewing-page-2 #page2content{
    -webkit-animation:fadeIn 2s;
    -moz-animation:fadeIn 2s;
    -o-animation:fadeIn 2s;
    -ms-animation:fadeIn 2s;
    animation:fadeIn 2s
}
.viewing-page-3 #services{
    -webkit-animation:zoomIn 2s;
    -moz-animation:zoomIn 2s;
    -o-animation:zoomIn 2s;
    -ms-animation:zoomIn 2s;
    animation:zoomIn 2s
}
.viewing-page-3 .onec{
    -webkit-animation:bounceInLeft 1s linear;
    -moz-animation:bounceInLeft 1s linear;
    -o-animation:bounceInLeft 1s linear;
    -ms-animation:bounceInLeft 1s linear;
    animation:bounceInLeft 1s linear
}
.viewing-page-3 .threec,.viewing-page-3 .twoc{
    -webkit-animation:bounceInLeft 1s linear;
    -moz-animation:bounceInLeft 1s linear;
    -o-animation:bounceInLeft 1s linear;
    -ms-animation:bounceInLeft 1s linear
}
.viewing-page-3 .twoc{
    animation:bounceInLeft 1s linear;
    -webkit-animation-duration:.5s;
    -moz-animation-duration:.5s;
    -o-animation-duration:.5s;
    -ms-animation-duration:.5s;
    animation-duration:.5s
}
.viewing-page-3 .threec{
    animation:bounceInLeft 1s linear;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s
}
.viewing-page-3 .fivec,.viewing-page-3 .fourc{
    -webkit-animation:bounceInLeft 1s linear;
    -moz-animation:bounceInLeft 1s linear;
    -o-animation:bounceInLeft 1s linear;
    -ms-animation:bounceInLeft 1s linear
}
.viewing-page-3 .fourc{
    animation:bounceInLeft 1s linear;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s
}
.viewing-page-3 .fivec{
    animation:bounceInLeft 1s linear;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    -ms-animation-duration:2s;
    animation-duration:2s
}
.viewing-page-3 .sixc{
    -webkit-animation:bounceInLeft 1s linear;
    -moz-animation:bounceInLeft 1s linear;
    -o-animation:bounceInLeft 1s linear;
    -ms-animation:bounceInLeft 1s linear;
    animation:bounceInLeft 1s linear;
    -webkit-animation-duration:2.5s;
    -moz-animation-duration:2.5s;
    -o-animation-duration:2.5s;
    -ms-animation-duration:2.5s;
    animation-duration:2.5s
}
.viewing-page-3 .blink{
    border:3px solid;
    border-radius:30px;
    height:25px;
    width:25px;
    position:absolute;
    -webkit-animation:pulsate 1s ease-out 2.5s infinite;
    -moz-animation:pulsate 1s ease-out 2.5s infinite;
    -o-animation:pulsate 1s ease-out 2.5s infinite;
    -ms-animation:pulsate 1s ease-out 2.5s infinite;
    animation:pulsate 1s ease-out 2.5s infinite;
    -webkit-transform-origin:center center;
    -moz-transform-origin:center center;
    -o-transform-origin:center center;
    -ms-transform-origin:center center;
    transform-origin:center center;
    opacity:0
}
@keyframes pulsate{
    0%,100%{
        transform:scale(1,1);
        opacity:0
    }
    50%{
        opacity:.4
    }
}
#wheel{
    -webkit-animation:spin 10s infinite linear;
    -moz-animation:spin 10s infinite linear;
    -o-animation:spin 10s infinite linear;
    -ms-animation:spin 10s infinite linear;
    animation:spin 10s infinite linear;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%
}
.viewing-page-4 .Animate-Drawanchor{
    fill-opacity:0;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-timing-function:ease-in-out;
    -o-animation-timing-function:ease-in-out;
    -ms-animation-timing-function:ease-in-out;
    animation-timing-function:ease-in-out;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
    -webkit-animation-name:DrawLine,FadeStroke,FillIn;
    -moz-animation-name:DrawLine,FadeStroke,FillIn;
    -o-animation-name:DrawLine,FadeStroke,FillIn;
    -ms-animation-name:DrawLine,FadeStroke,FillIn;
    animation-name:DrawLine,FadeStroke,FillIn
}
.viewing-page-4 #animanchor{
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    -o-animation-duration:2s;
    -ms-animation-duration:2s;
    animation-duration:2s;
    stroke-dashArray:1100;
    stroke-dashoffset:1100
}
.viewing-page-4 #animleaf{
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    animation-delay:1.5s;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    -ms-animation-duration:1s;
    animation-duration:1s;
    stroke-dashArray:1100;
    stroke-dashoffset:1100
}
.viewing-page-4 #animanchorwords{
    -webkit-animation-delay:2.4s;
    -moz-animation-delay:2.4s;
    -o-animation-delay:2.4s;
    -ms-animation-delay:2.4s;
    animation-delay:2.4s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    animation-duration:1.5s;
    stroke-dashArray:1100;
    stroke-dashoffset:1100
}
@-webkit-keyframes spin{
    0%{
        -webkit-transform:rotate(0)
    }
    100%{
        -webkit-transform:rotate(360deg)
    }
}
@-moz-keyframes spin{
    0%{
        -moz-transform:rotate(0)
    }
    100%{
        -moz-transform:rotate(360deg)
    }
}
@-o-keyframes spin{
    0%{
        -o-transform:rotate(0)
    }
    100%{
        -o-transform:rotate(360deg)
    }
}
@-ms-keyframes spin{
    0%{
        -ms-transform:rotate(0)
    }
    100%{
        -ms-transform:rotate(360deg)
    }
}
@keyframes spin{
    0%{
        transform:rotate(0)
    }
    100%{
        transform:rotate(360deg)
    }
}
@keyframes DrawLine{
    to{
        stroke-dashOffset:0
    }
}
@-moz-keyframes DrawLine{
    to{
        stroke-dashOffset:0
    }
}
@-o-keyframes DrawLine{
    to{
        stroke-dashOffset:0
    }
}
@-ms-keyframes DrawLine{
    to{
        stroke-dashOffset:1
    }
}
@-webkit-keyframes DrawLine{
    to{
        stroke-dashOffset:0
    }
}
@keyframes FadeStroke{
    to{
        stroke-opacity:0
    }
}
@-moz-keyframes FadeStroke{
    to{
        stroke-opacity:0
    }
}
@-o-keyframes FadeStroke{
    to{
        stroke-opacity:0
    }
}
@-ms-keyframes FadeStroke{
    to{
        stroke-opacity:1
    }
}
@-webkit-keyframes FadeStroke{
    to{
        stroke-opacity:0
    }
}
@keyframes FillIn{
    from{
        fill-opacity:0
    }
    to{
        fill-opacity:1
    }
}
@-moz-keyframes FillIn{
    from{
        fill-opacity:0
    }
    to{
        fill-opacity:1
    }
}
@-o-keyframes FillIn{
    from{
        fill-opacity:0
    }
    to{
        fill-opacity:1
    }
}
@-ms-keyframes FillIn{
    from,to{
        fill-opacity:1
    }
}
@-webkit-keyframes FillIn{
    from{
        fill-opacity:0
    }
    to{
        fill-opacity:1
    }
}
.sthead2,.sthead3,.sthead4{
    fill:#3C3C3B
}
/* #ships{
    background-image:url(../img/Sea_Background1.jpg);
    background-size:100% 100%;
    width:100%;
    height:100%;
    overflow:hidden;
    background-repeat:no-repeat
} */
#pg4{
    background-image: url(../img//Bg.png), url(../img/Sea_Background.jpg);
    background-position: 0 0, 0 bottom;
    background-size:100% 72%;
    width:100%;
    height:100%;
    overflow:hidden;
    background-repeat:no-repeat
}
#pg3,.page2{
    background-image:url(../img/Bg.png);
    background-size:100% 100%;
    width:100%;
    height:100%;
    overflow:hidden;
    background-repeat:no-repeat
}
@media only screen and (min-height: 600px) and (max-height:800px) {
    .page2 .row {
        position: absolute;
    top: -3%;
    left: -10%;
    }
    /* .page2 .row{
        top: 17%;
    } */
    #page2content{
        margin-top: -5%;
    }
    .page2left{
        width: 100%;
    height: 100%;
    margin-top: -8%;
    margin-left: 3%;
    }
   
    /* .page3 .row{
        position: absolute;
    top: 28%;
    } */
    #ships{
        margin-top: -10% !important;
    }

}
/* @media only screen  and (max-width: 1024px){
    #ships{
        margin-top: -24%;
    }
} */
@media screen and (min-width:768px){
    /* #pg4,#sayimage{
        padding-right:5%
    } */
    #ourteam,#pg6{
        background-size:100% 100%;
        width:100%;
        height:100%;
        overflow:hidden;
        background-repeat:no-repeat;
        position:absolute
    }
   #ourteam,#ourteam p,#pg6{
        position:absolute
    }
    #contact{
        position: relative;
    }
    .page1{
        width:100%;
        height:100%
    }

    .page2{
        padding-top:15px;
        padding-bottom:10px
    }
    .page2 .row{
        position: absolute;
        top: 14%;
        left: 10%;
    }
    #sayimage{
        padding-left: 0;
        float: left;
        width: 100%;
        height: 100%;
    }
    #page2content{
        text-align:justify;
        line-height:1;
        padding:120px 10% 120px 5%;
        margin-top:4%;
        /* left: 4%; */
    }
    #page2content .para1{
        font-size:2.5em;
        color:#01afab;
        font-weight:700
    }
    #page2content .para23{
        font-size:2.2em;
        padding-top:20px
    }
    /* #net,#pg4{
        padding-top: 2%;
        position: absolute;
        left: 0%;
        top: 0%;
    } */
    #ourteam h1{
        padding-top:2%;
        font-size: 3.5em;

    }
    #Layer_1{
        max-height:900px;
        max-width:900px
    }
    #services{
      
        margin-top: 8%;
    }
    #services h1{
        font-size:3em
    }
    #services p{
        font-size:2em;
        text-align:center
    }
    #ourteam h1,#pg4 h1{
        font-size:3.5em
    }
    /* #pg4{
        padding-left:5%;

    } */
    #svg1{
        margin-top: 5.5%;
    }
    #ships{
        width:5464px;
        height:528px;
        margin-top: 5%;
    }
    .viewing-page-4 .frstship{
        animation:moveship 40s linear infinite
    }
    @keyframes moveship{
        0%{
            margin-left:-8196px
        }
        100%{
            margin-left:-10px
        }
    }
    .ship{
        transition:all .5s ease;
        margin:0;
        padding:0
    }
    #ourteam h1{
        padding:20px
    }
    #ourteam p{
        padding-top:1%;
        float:left;
        font-size:26px;
        line-height:1
    }
    .team-description{
        font-size:19px
    }
    #Rithesh{
        top:45%;
        left:11%
    }
    #Arjun{
        top:45%;
        left:36%
    }
    #Ashok{
        top:45%;
        left:59%
    }
    #Shweta{
        top:45%;
        left:85%
    }
    #pg6-mobile{
        display:none
    }
    #ourteam{
        background-image:url(../img/Our-Team.jpg)
    }
    #contact-head{
        margin-bottom:.4em;
        font-size:1.3em
    }
    #pg6{
        background-image:url(../img/contact-us.jpg);
        padding:1%;
        display: flex;
        align-items: center;
        justify-content:center;

    }
    #contact{
        text-align:center;
        font-size:21px;
        font-weight:700;
        line-height:1.2;
        /* padding-right:5%; */
        top:3%;
        /* left: 40%; */
      
    }
    #cntct{
        margin-bottom:0;
        line-height:1.1
    }
    /* #mail,#direction{
        color:#01afab
    } */
}
@media screen and (min-width:1400px){
    #contact{
       
        font-size:1.5em !important;
          
        /* padding-right:5%; */
        top:3% !important;
        /* left: 40%; */
      
    }
}
@media screen and (max-width:767px) and (min-width:480px){
   #services{
        padding-top:10%;
        padding-left:5%
    }

    #arrow,#pg6-mobile{
        display:none
    }
    #cntct,#mail,#direction,#ourteam p{
        line-height:1
    }
    #sayimage{
        width: 500px;
        height: 500px;
        float: left;
        padding-top: 10%;
    padding-left: 16%;
    }
    #page2content{
        padding-top: 10%;
        padding-right: 16%;
        text-align: justify;
        line-height: 1.2;
        padding-left: 16%;
    }
    #page2content .para1{
        color:#01afab;
        font-weight:700;
        font-size:1em
    }
    #page2content .para23{
        font-size:.85em
    }
    
    #svg1{
        width:35%;
        height:90%;
        padding-top:10px
    }
    #Layer_1 .st54{
        font-size:30px!important
    }
    #Layer_1{
        padding-right:5px
    }
    #services{
        padding-right:5%
    }
    #services h1{
        font-size:1.5em
    }
    #services p{
        font-size:1em;
        text-align:center
    }
    #pg4 h1{
        padding-top:2%;
        font-size:1.5em
    }
    #ourteam h1{
        padding-top:2%;
        font-size: 3.5em;
    }
    #ships{
        width:5464px
    }
    .viewing-page-4 .frstship{
        animation:moveship 40s linear infinite
    }
    @keyframes moveship{
        0%{
            margin-left:-6580px
        }
        100%{
            margin-left:-3100px
        }
    }
    .ship{
        height:238px;
        transition:all 5.5s ease;
        margin:0;
        padding:0
    }
    #ourteam,#pg6{
        background-size:100% 100%;
        width:100%;
        height:100%;
        overflow:hidden;
        background-repeat:no-repeat;
        position:absolute
    }
    #pg6{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #ourteam{
        background-image:url(../img/Our-Team.jpg)
    }
    #ourteam h1{
        font-size:1.5em;
        padding:1%
    }
    #ourteam p{
        padding-top:1%;
        float:left;
        position:absolute;
        font-size:18px
    }
    .team-description{
        font-size:14px
    }
    #Rithesh{
        top:45%;
        left:9%
    }
    #Arjun{
        top:45%;
        left:35%
    }
    #Ashok{
        top:45%;
        left:58%
    }
    #Shweta{
        top:45%;
        left:84%
    }
    #contact-head{
        margin-bottom:.4em;
        font-size:18px
    }
    #pg6{
        background-image:url(../img/contact-us.jpg)
    }
    #contact{
        text-align:center;
        font-size:12px;
        font-weight:700;
        line-height:.7;
        position: relative;;
      
    }
    #cntct{
        margin-bottom:0
    }
    /* #mail, #direction{
        color:#01afab
    } */
}
@media screen and (min-width:1000px)and (max-width:1366px){
    #ships{
        padding-top: 3%;
    }
    #services{
        margin-top: 10%;
    }
    #sayimage{
        width: 500px;
        height: 500px;
        margin-left: -72%;
        margin-top: 38%;
    }
    .page2 .row {
        position: absolute;
        top: -2%;
    }
    .page2left{
        margin-left: 33%;
    margin-top: 68%;
    }
   
    
}
@media screen and (min-height:810px) and (max-height:830px){
    #ships{
        padding-top: 29%;
    }
}
@media screen and (max-height:900px) {
    .page2left{
        margin-top: -4%;
    }
    #page2content{
        margin-top: 0%;
    }
}

@media screen and (max-height:1024px){

 
 
}
@media screen and (min-width:1500px) and (max-width:2500px) and (min-height:1000px) and (max-height:1200px){
    #page2content{
        margin-left: 0%;
        margin-top: 18%;
    }
    .page2 .row{
        margin-top: 16%;
    }
    .page2left {
        margin-left: -7%;
        margin-top: 7%;
        width: 700px;
        height: 700px;
    }
    #contact{
        margin-left: -9% !important;
        margin-top: 6% !important;
        font-size: 22px !important;
      }
      #net{
        margin-top: 10% !important;
      }
}

    
@media screen and (min-height:1300px) and (max-height:1366px){
    
.page2 .row{
    position: absolute;
    top: 8%;
    left: -3%;
}

  #page2content{
    margin-left: -12%;
    margin-top: 48%;
  }
  .page2left{
    margin-left: 72%;
    margin-top: 7%;
  }
  #svg1{
      margin-left: 24%;
  }
  #services{
      margin-left: 27%
  }
  #contact{
    margin-left: -9%;
    margin-top: 9%;
    font-size: 28px;
  }
  #ships{
    margin-top: 38%;
  }
  #sayimage{
    width: 700px;
height: 700px;
margin-top: -83%;
margin-left: -40%;
}
#pg4 {
    padding-left: 5%;
    padding: 10%;
}
}
@media screen and (min-height:1000px) and (max-height:1200px){
    #ships{
        padding-top: 15%;
    }
    
    .page2 .row{
        top: -16%;
        font-size: 15px;
    }
  #contact{
    margin-left: -8%;
    margin-top: 6%;
    font-size: 22px;
  }
  /* #services{
      margin-left: 3%;
      margin-top: 4%;
  } */
  #svg1 {
    margin-top: 0%;
}
#page2content .para1{
    left: -2%;
    margin-top: -21%;
}
.page2left{
    margin-left: 6%;
    margin-top: 30%;
    width: 500px;
    height: 500px;
}

}
@media screen and (min-width:1500px) and (max-width:2500px) and (min-height:1000px) and (max-height:1200px){
    #page2content{
        margin-left: 0%;
        margin-top: 20%;
    }
    .page3 .row{
        margin-top: 7%;
        margin-left: -5%;
    }
    #contact {
        margin-left: 2% !important;
        margin-top: 4% !important;
        font-size: 22px !important;
    }
    #ships {
        padding-top: 6%;
    }
    /* #page2content{
        margin-top: 20%;
    } */
}

    
/* @media screen and (min-height:1030px) and (max-height:1366px){
    

  #page2content{
    margin-left: -18%;
    margin-top: 48%;
  }
  .page2left{
    margin-left: 42%;
    margin-top: -23%;
  }
  #svg1{
      margin-left: 24%;
  }
  #services{
      margin-left: 27%
  }
  #contact{
    margin-left: -9%;
    margin-top: 9%;
    font-size: 28px;
  }
} */

@media screen  and (max-width:479px){
    #page2content,#services{
        padding-left:15%;
        padding-right:15%
    }
    .page2 .row{
        position: absolute;
    top: 14%;
    left: -10%;
    }
    .page2left {
        margin-left: 3%;
        margin-top: -22%;
    }
    #page2content{
        margin-top: -5%;
        margin-left: 10%;
    }
    /* #ships{
        padding-top: 42%;
    } */
   #pg6{
        display:none
    }
    #ourteam,#pg6-mobile{
        width:100%;
        overflow:hidden;
        background-repeat:no-repeat
    }
    .page1{
        width:100%;
        height:100%
    }
    #sayimage{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
    }
    #page2content{
        text-align:justify;
        line-height:1.2
    }
    #page2content .para1{
        color:#01afab;
        font-weight:700;
        font-size:1em
    }
    #page2content .para23{
        font-size:.85em
    }
    /* .page2 .row{
        position: absolute;
    top: 14%;
    } */
    #svg1{
        width:90%;
        height:35%;
        padding:20px 0 20px 10%;
        margin-top: 11%;
    }
    #Layer_1{
        padding-left:5px;
        padding-right:5px
    }
    #services h1{
        font-size:1.5em
    }
    #services p{
        font-size:1em;
        text-align:center
    }
    #pg4 h1{
        font-size:2em;
        padding-top: 10%
    }
    #ourteam h1{
        font-size: 2em;
        padding-top: 10%
    }
    #ships{
        width:5464px;
        height:528px;
        margin-top: 50% !important;
    }
    .viewing-page-4 .frstship{
        animation:moveship 50s linear infinite
    }
    @keyframes moveship{
        0%{
            margin-left:-8196px
        }
        100%{
            margin-left:-2865px
        }
    }
    .ship{
        height:368px;
        transition:all .5s ease;
        margin:0;
        padding:0
    }
    #ourteam,#pg5,#pg6-mobile{
        height:100%
    }
    #ourteam{
        background-image:url(../img/Our-Team-Mobile.jpg);
        background-size:100% 105%;
        font-family:myFont
    }
    #ourteam p{
        float:left;
        position:absolute;
        font-size:18px;
        line-height:1
    }
    .team-description{
        font-size:14px
    }
    #Rithesh{
        top:12%;
        left:23%
    }
    #Arjun{
        top:12%;
        left:74%
    }
    #Ashok{
        top:69%;
        left:70%
    }
    #Shweta{
        top:69%;
        left:27%
    }
    #contact-head-mbl{
        margin-bottom:.4em;
        font-size:18px
    }
    #contact-mbl{
        text-align:center;
        font-size:1em;
        font-weight:700;
        line-height:1.2;
        /* position:absolute; */
        position: relative;
        top: 4%;
        /* left: 25.5%; */
    }
    #cntct-mbl{
        margin-bottom:0;
        font-size:14px
    }
    #mail-mbl, #direction-mbl{
        /* color:#01afab; */
        font-size:14px
    }
    #pg6-mobile{
        background-image:url(../img/contact-us-Mobile.jpg);
        background-size:100% 100%;
        display:flex;
        align-items: center;
        justify-content:center;
    }
}
.sthead0{
    opacity:.5
}
.sthead1{
    clip-path:url(#BG_2_)
}
.sthead3{
    clip-path:url(#BG_2_)
}
.sthead4{
    stroke:#181816;
    stroke-width:0;
    stroke-linecap:round;
    stroke-linejoin:round
}
.sthead5,.sthead6{
    fill:#01afab
}
.sthead5{
    stroke:#FFF;
    stroke-width:8.1737;
    stroke-miterlimit:10
}
.sthead7{
    fill:#FFF
}
.sthead8{
    fill:#01afab
}
.sthead10,.sthead11,.sthead9{
    display:none;
    fill:none
}
.sthead9{
    stroke:#01afab;
    stroke-width:6.8917;
    stroke-miterlimit:10
}
.sthead10{
    stroke:#01afab;
    stroke-width:7.0362;
    stroke-miterlimit:10
}
.sthead11{
    stroke:#01afab;
    stroke-width:2.9688;
    stroke-miterlimit:10
}
.sthead12{
    fill:#01afab
}
#sayimage .st0{
    fill:#01afab
}
#sayimage .st1{
    fill:none;
    stroke:#FFF;
    stroke-width:.9777;
    stroke-miterlimit:10
}
#sayimage .st2{
    fill:none;
    stroke:#FFF;
    stroke-width:14.2361;
    stroke-miterlimit:10
}
#sayimage .st3{
    fill:#01afab
}
#Layer_1 .st0{
    fill:#231F20
}
#Layer_1 .st1,#Layer_1 .st2{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st1{
    stroke-width:2.4899;
    stroke-miterlimit:10
}
#Layer_1 .st2{
    stroke-width:1.085;
    stroke-miterlimit:10
}
#Layer_1 .st3,#Layer_1 .st4{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st3{
    stroke-width:2.5;
    stroke-miterlimit:10
}
#Layer_1 .st4{
    stroke-width:2.5053;
    stroke-miterlimit:10
}
#Layer_1 .st5,#Layer_1 .st6{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st5{
    stroke-width:2.502;
    stroke-miterlimit:10
}
#Layer_1 .st6{
    stroke-width:2.4359;
    stroke-miterlimit:10
}
#Layer_1 .st7,#Layer_1 .st8{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st7{
    stroke-width:2.4645;
    stroke-miterlimit:10
}
#Layer_1 .st8{
    stroke-width:2.5326;
    stroke-miterlimit:10
}
#Layer_1 .st10,#Layer_1 .st9{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st9{
    stroke-width:2.4756;
    stroke-miterlimit:10
}
#Layer_1 .st10{
    stroke-width:2.4932;
    stroke-miterlimit:10
}
#Layer_1 .st11,#Layer_1 .st12{
    stroke:#01afab;
    display:none;
    fill:none;
    opacity:.23
}
#Layer_1 .st11{
    stroke-width:2.538;
    stroke-miterlimit:10
}
#Layer_1 .st12{
    stroke-width:2.5228;
    stroke-miterlimit:10
}
#Layer_1 .st13{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab;
    stroke-width:2.5174;
    stroke-miterlimit:10
}
#Layer_1 .st14{
    display:none;
    opacity:.23;
    fill:#01afab
}
#Layer_1 .st15{
    fill:none;
    stroke:#01afab;
    stroke-width:2.5;
    stroke-miterlimit:10
}
#Layer_1 .st16,#Layer_1 .st19{
    display:none;
    fill:none;
    stroke:#6D84BB
}
#Layer_1 .st16{
    stroke-width:2.5;
    stroke-miterlimit:10
}
#Layer_1 .st17{
    fill:#01afab
}
#Layer_1 .st18{
    fill:#FF0D00
}
#Layer_1 .st19{
    opacity:.23;
    stroke-width:2.4647;
    stroke-miterlimit:10
}
#Layer_1 .st20,#Layer_1 .st21{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st20{
    stroke-width:1.7685;
    stroke-miterlimit:10
}
#Layer_1 .st21{
    stroke-width:2.5307;
    stroke-miterlimit:10
}
#Layer_1 .st22,#Layer_1 .st23{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st22{
    stroke-width:2.5145;
    stroke-miterlimit:10
}
#Layer_1 .st23{
    stroke-width:1.7583;
    stroke-miterlimit:10
}
#Layer_1 .st24,#Layer_1 .st25{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st24{
    stroke-width:2.6482;
    stroke-miterlimit:10
}
#Layer_1 .st25{
    stroke-width:2.5039;
    stroke-miterlimit:10
}
#Layer_1 .st26,#Layer_1 .st27{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st26{
    stroke-width:2.6516;
    stroke-miterlimit:10
}
#Layer_1 .st27{
    stroke-width:2.6754;
    stroke-miterlimit:10
}
#Layer_1 .st28,#Layer_1 .st29{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st28{
    stroke-width:2.5444;
    stroke-miterlimit:10
}
#Layer_1 .st29{
    stroke-width:2.5356;
    stroke-miterlimit:10
}
#Layer_1 .st30,#Layer_1 .st31{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st30{
    stroke-width:2.4804;
    stroke-miterlimit:10
}
#Layer_1 .st31{
    stroke-width:2.5589;
    stroke-miterlimit:10
}
#Layer_1 .st32,#Layer_1 .st33{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st32{
    stroke-width:2.5956;
    stroke-miterlimit:10
}
#Layer_1 .st33{
    stroke-width:2.4662;
    stroke-miterlimit:10
}
#Layer_1 .st34,#Layer_1 .st35{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st34{
    stroke-width:2.6193;
    stroke-miterlimit:10
}
#Layer_1 .st35{
    stroke-width:2.5685;
    stroke-miterlimit:10
}
#Layer_1 .st36,#Layer_1 .st37{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st36{
    stroke-width:2.5005;
    stroke-miterlimit:10
}
#Layer_1 .st37{
    stroke-width:2.5054;
    stroke-miterlimit:10
}
#Layer_1 .st38,#Layer_1 .st39{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st38{
    stroke-width:2.4718;
    stroke-miterlimit:10
}
#Layer_1 .st39{
    stroke-width:2.4619;
    stroke-miterlimit:10
}
#Layer_1 .st40,#Layer_1 .st41{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st40{
    stroke-width:2.4836;
    stroke-miterlimit:10
}
#Layer_1 .st41{
    stroke-width:2.566;
    stroke-miterlimit:10
}
#Layer_1 .st42,#Layer_1 .st43{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st42{
    stroke-width:2.4925;
    stroke-miterlimit:10
}
#Layer_1 .st43{
    stroke-width:2.4954;
    stroke-miterlimit:10
}
#Layer_1 .st44,#Layer_1 .st45{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st44{
    stroke-width:2.5114;
    stroke-miterlimit:10
}
#Layer_1 .st45{
    stroke-width:2.5223;
    stroke-miterlimit:10
}
#Layer_1 .st46,#Layer_1 .st47{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st46{
    stroke-width:2.5265;
    stroke-miterlimit:10
}
#Layer_1 .st47{
    stroke-width:2.5394;
    stroke-miterlimit:10
}
#Layer_1 .st48,#Layer_1 .st49{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab
}
#Layer_1 .st48{
    stroke-width:2.4833;
    stroke-miterlimit:10
}
#Layer_1 .st49{
    stroke-width:2.4715;
    stroke-miterlimit:10
}
#Layer_1 .st50,#Layer_1 .st51{
    stroke:#01afab;
    display:none;
    opacity:.23;
    fill:none
}
#Layer_1 .st50{
    stroke-width:2.5342;
    stroke-miterlimit:10
}
#Layer_1 .st51{
    stroke-width:2.4975;
    stroke-miterlimit:10
}
#Layer_1 .st52{
    display:none;
    opacity:.23;
    fill:none;
    stroke:#01afab;
    stroke-width:2.4517;
    stroke-miterlimit:10
}
#Layer_1 .st53{
    font-family:myFont
}
#Layer_1 .st54{
    font-size:34px
}
.typewrite > .wrap 
{ 
    border-right: 0.08em solid #fff
}
html{
     margin: 0;
     padding: 0;
     width: 100%;
 }
 .ds_logo{
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%,-50%);
    
 }
 line {
    
     stroke-dasharray: 1800;
     opacity: 10;
     animation:animate 3s cubic-bezier(.97,0,.3,1) ;
 }
 circle{
    fill:#FFFFFF;
    /* stroke-dasharray: 1800; */
    opacity: 10;
    animation-delay: 4s;
    animation:animates 2s cubic-bezier(.97,0,.3,1) ;
}
path{
    stroke-dasharray: 1800;
     opacity: 10;
     animation:animatepath 3s cubic-bezier(.97,0,.3,1) ;
}
@keyframes animatepath{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 1800;
    }
    30%{
        opacity: 10;
        fill:none;
        stroke-dashoffset: 1800;
        
    }
    90%{
       
        fill:rgba(255, 255, 255,0);
     
    }
    100%{
        opacity: 10;
        fill:rgba(255, 255, 255,0);
       stroke-dashoffset: 0;
    
   }
}
 path .logo_1{
    fill:#000;
 }
 @keyframes animates{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 1800;
    }
    30%{
        opacity: 10;
        fill:none;
        stroke-dashoffset: 1800;
    }
    90%{
       
        fill:rgba(255, 255, 255,0);
     
    }
    100%{
        opacity: 10;
       fill:rgba(255, 255, 255,1);
       stroke-dashoffset: 0;
    
   }
}
 @keyframes animate{
    0%{
        opacity: 0;
        fill:none;
        stroke-dashoffset: 1800;
    }
    30%{
        opacity: 10;
        fill:none;
        stroke-dashoffset: 1800;
    }
    90%{
       
        fill:rgba(255, 255, 255,0);
     
    }
    100%{
        opacity: 10;
       fill:rgba(255, 255, 255,1);
       stroke-dashoffset: 0;
    
   }
}
canvas
{ 
    display: block; vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
#particles-js
{ 
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #01afab; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%;
 }
.section_1{
    width: 566px;
    height:  193.047px;
}
  @media only screen and (min-width: 310px) and (max-width: 700px){
    .section_1 {
    width:300px;
    height:  193.047px;
}
}
/* @media only screen and (min-width: 576px){
.page2 .col-sm-5 {
  left:-12%
}
#page2content{
    left: 5%;
}
} */

.fa-angle-down{
    font-size: 50px;
    opacity: 3.7;
    color:#fff;
}
a:hover{
    font-size: 50px;
    opacity: 3.7;
    color:#504f4f;
}
@media only screen and(max-width:1000px){
/* .page2 .col-sm-5 {
  left:-12%
} */
.page2left{
    margin-left: 19%;
    margin-top: 10%;
}
}
@media screen and (min-height:768px) and (max-height:800px){
   
    #page2content {
        margin-top: 4%;
    }
}
@media only screen and (max-width:320px) {
    
/* #contact-mbl{ */
    /* left: 18.5%; */
/* } */
#ships {
    width: 5464px;
    height: 528px;
    margin-top: 19% !important;
}
#net{
    margin-top: -16% !important;
}
}

/* body {
    background-color: #222;
    padding: 100px 0 0 0;
  } */
  /* p {
    margin-left: -55px;
  } */
  @-webkit-keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 29%;
      }
      15% {
      opacity: 1;
      top: 50%;
      }
      50% {
      opacity: 0;
      top: 50%;
      }
      100% {
      opacity: 0;
      top: 29%;
      }
  }
  @-moz-keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 29%;
      }
      15% {
      opacity: 1;
      top: 50%;
      }
      50% {
      opacity: 0;
      top: 50%;
      }
      100% {
      opacity: 0;
      top: 29%;
      }
  }
  @keyframes ani-mouse {
      0% {
      opacity: 1;
      top: 29%;
      }
      15% {
      opacity: 1;
      top: 50%;
      }
      50% {
      opacity: 0;
      top: 50%;
      }
      100% {
      opacity: 0;
      top: 29%;
      }
  }
   .scroll-btn {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top:90%;
  }
  .scroll-btn > * {
      display: inline-block;
      line-height: 18px;
      font-size: 13px;
      font-weight: normal;
      color: #7f8c8d;
      color: #ffffff;
      font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 2px;
  }
  .scroll-btn > *:hover,
  .scroll-btn > *:focus,
  .scroll-btn > *.active {
      color: #ffffff;
  }
  .scroll-btn > *:hover,
  .scroll-btn > *:focus,
  .scroll-btn > *:active,
  .scroll-btn > *.active {
      opacity: 0.8;
      filter: alpha(opacity=80);
  }
  .scroll-btn .mouse {
      position: relative;
      display: block;
      width: 40px;
      height: 60px;
      margin: 0 auto 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 4px solid white;
      border-radius: 23px;
  }
  .scroll-btn .mouse > * {
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 9px;
      height: 9px;
      margin: -4px 0 0 -4px;
      background: white;
      border-radius: 50%;
      -webkit-animation: ani-mouse 2.5s linear infinite;
      -moz-animation: ani-mouse 2.5s linear infinite;
      animation: ani-mouse 2.5s linear infinite;
  }  
  #contact #mail a:hover , #contact #cntct a:hover , #contact #direction a:hover {
    font-size:1em !important;
    /* opacity: 3.7; */
    color: #000 !important;
  }
  #contact #mail a ,#contact #cntct a ,#contact #direction a{
    color: #000 !important;
  }
  #contact-mbl #cntct-mbl a  ,#contact-mbl #direction-mbl a, #contact-mbl #mail-mbl a{
    font-size: 14px;
    color: #000 !important;
  }
  #contact #mail,  #contact #direction ,#contact-mbl #mail-mbl ,#contact-mbl #direction-mbl{
      margin-bottom: 0px !important;
  }
  #contact #cntct i , #contact #mail i {
    font-size: 16px;
  
  }
  #contact-mbl #cntct-mbl i , #contact-mbl #mail-mbl i {
    font-size: 12px;

  }
  #contact  #direction i{
    font-size: 18px;
  
  }
  #contact-mbl  #direction-mbl i{
    font-size: 14px;

  }